<html>
    <body>
        <h1>hey</h1>
        <form action="/result" method="post">
            <label for="name">Enter name: </label>
            <input id="flower" type="text" name="name" placeholder="Name your flower!">
            <label for="location">location: </label>
            <select name="location">
                <option value="berkeley">berkeley</option>
                <option value="oakland">oakland</option>
            </select>
            <label for="lang">location: </label>
            <select name="lang">
                <option value="python">python</option>
                <option value="javascript">javascript</option>
            </select>
            <label for="comment">comment (optional): </label>
            <textarea type="text" name="comment" placeholder="Name your flower!"></textarea>
            

            <input type="submit" value="OK">
        </form>
    </body>
</html>