<html>
    <body>
        <h1>WOOOOO!</h1>
        <h1><%= results.name %></h1>
        <h1><%= results.lang %></h1>
        <h1><%= results.location %></h1>
        <p><%= results.comment %></p>
    </body>
</html>